# ....................................ASSIGNMENT 2....................................

**!pip install selenium**

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings("ignore")

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [20]:
url='https://www.naukri.com/'
driver.get(url)

In [21]:
driver.maximize_window()

In [22]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [23]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input") # This XPath input

location.send_keys('Bangalore')

In [24]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [25]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [26]:
# Scraping Job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


# Scraping Job Location from the given page

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# Scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# Scraping Job Experience from the given page

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [27]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [28]:
import pandas as pd

df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst / Senior Analyst - R / SQL / Python,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
3,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
9,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs

## Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

In [29]:
driver2=webdriver.Chrome('chromedriver.exe')
driver2.get('https://www.naukri.com/')

In [30]:
driver2.maximize_window()

In [31]:
search_jobs2=driver2.find_element(By.CLASS_NAME,'suggestor-input').send_keys("Data Analyst")

In [33]:
search_location2= driver2.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_location2.send_keys('Bangalore')

In [36]:
search_button2= driver2.find_element("xpath",'/html/body/div[1]/div[6]/div/div/div[6]')
search_button2.click()

In [43]:
title_tags2=driver2.find_elements("xpath",'//a[@class="title ellipsis"]')
job_title2=[]
for i in title_tags2:
    job_title2.append(i.text)
    
loc_tags2=driver2.find_elements("xpath",'//span[@class="ellipsis fleft locWdth"]')
job_loc2=[]
for i in loc_tags2:
    job_loc2.append(i.text)
    
comp_tags2=driver2.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
comp_title2=[]
for i in comp_tags2:
    comp_title2.append(i.text)

In [44]:
print(len(job_title2),len(job_loc2),len(comp_title2))

20 20 20

In [45]:
Data_Analyst_2=pd.DataFrame({'Job Title':job_title2,'Job Location':job_loc2,'Company Name':comp_title2})
Data_Analyst_2[0:10]

,Job Title,Job Location,Company Name
0,Data Analyst / Senior Analyst - R / SQL / Python,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",The Nikharv Consultancy
1,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy
2,Data Analyst,Bangalore/Bengaluru,Target
3,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents
9,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [46]:
driver3=webdriver.Chrome('chromedriver.exe')
driver3.get('https://www.naukri.com/')

In [47]:
driver3.maximize_window()

In [48]:
search_jobs3=driver3.find_element(By.CLASS_NAME,'suggestor-input')
search_jobs3.send_keys("Data Analyst")

In [50]:
search_button3= driver3.find_element("xpath",'/html/body/div[1]/div[6]/div/div/div[6]')
search_button3.click()

In [55]:
location_filter = driver3.find_element('xpath','/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')
location_filter.click()

In [56]:
salary_checkbox = driver3.find_element("xpath",'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[4]/label/i')
salary_checkbox.click()

In [61]:
title_tags3=driver3.find_elements("xpath",'//a[@class="title ellipsis"]')
job_title3=[]
for i in title_tags3:
    job_title3.append(i.text)
    
loc_tags3=driver3.find_elements("xpath",'//span[@class="ellipsis fleft locWdth"]')
job_loc3=[]
for i in loc_tags3:
    job_loc3.append(i.text)  

sal_3=driver3.find_elements("xpath",'//span[@class="ellipsis fleft expwdth"]')
salary_3=[]
for i in sal_3:
    salary_3.append(i.text)

In [62]:
print(len(job_title2),len(job_loc2),len(comp_title2),len(salary_3))

20 20 20 20

In [64]:
Data_Analyst_3=pd.DataFrame({'Job Title':job_title2,'Job Location':job_loc2,'Company Name':comp_title2, 'Salary':salary_3})
Data_Analyst_3[0:10]

,Job Title,Job Location,Company Name,Salary
0,Data Analyst / Senior Analyst - R / SQL / Python,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
3,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-5 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,10-14 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,6-8 Yrs
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,6-9 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-7 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,3-8 Yrs
9,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,4-9 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [65]:
driver4=webdriver.Chrome('chromedriver.exe')
driver4.get('https://www.flipkart.com/')

In [66]:
driver4.maximize_window()

In [67]:
popupclose = driver4.find_element("xpath","/html/body/div[2]/div/div/button")
popupclose.click()

In [68]:
search_product=driver4.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys("Sunglasses")

In [69]:
search_button4= driver4.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button4.click()

In [89]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand[0:35]:
    brand_name.append(i.text)

product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product[0:35]:
    product_desc.append(i.text)

price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price[0:35]:
    product_price.append(i.text)

price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off[0:35]:
    Discount.append(i.text)

In [90]:
print(len(brand_name),len(product_desc),len(product_price),len(Discount))

35 35 35 35

In [91]:
product_1=pd.DataFrame({'Brand Name':brand_name,'Product Description':product_desc,'Price':product_price,'Discount':Discount})
product_1[:40]

,Brand Name,Product Description,Price,Discount
0,CART2DEAL,UV Protection Retro Square Sunglasses (54),"₹1,244",53% off
1,IRUS,UV Protection Wayfarer Sunglasses (Free Size),₹637,14% off
2,Fastrack,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹599,40% off
3,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹149,75% off
4,Fastrack,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹499,37% off
5,Elligator,"UV Protection, Polarized, Mirrored Rectangular...",₹129,87% off
6,SHAAH COLLECTIONS,"UV Protection, Gradient Round Sunglasses (Free...",₹129,92% off
7,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (53),₹391,80% off
8,PHENOMENAL,UV Protection Round Sunglasses (54),₹129,87% off
9,Elligator,"Riding Glasses, Night Vision Spectacle Sunglas...",₹229,90% off
10,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹174,82% off
11,Dervin,UV Protection Aviator Sunglasses (58),₹224,85% off
12,PIRASO,UV Protection Rectangular Sunglasses (Free Size),₹274,89% off
13,SUNBEE,UV Protection Wayfarer Sunglasses (59),₹129,87% off
14,VINCENT CHASE,UV Protection Rectangular Sunglasses (Free Size),₹599,70% off
15,CART2DEAL,"Gradient, UV Protection Wayfarer Sunglasses (F...","₹1,244",53% off
16,New Specs,UV Protection Round Sunglasses (53),₹259,90% off
17,Fastrack,UV Protection Aviator Sunglasses (88),₹579,35% off
18,Elligator,UV Protection Aviator Sunglasses (55),₹149,85% off
19,Silver Kartz,"Night Vision, UV Protection Round Sunglasses (54)",₹266,77% off
20,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (50),₹649,74% off
21,SRPM,UV Protection Rectangular Sunglasses (52),₹179,82% off
22,SRPM,UV Protection Aviator Sunglasses (Free Size),₹149,88% off
23,Soul Hub,"UV Protection, Polarized Rectangular Sunglasse...","₹1,215",55% off
24,PIRASO,UV Protection Aviator Sunglasses (54),₹182,88% off
25,Fastrack,"Others Wayfarer, Retro Square Sunglasses (50)",₹579,35% off
26,LIZA ANGEL,"Night Vision, Polarized, UV Protection, Riding...",₹129,87% off
27,CART2DEAL,UV Protection Retro Square Sunglasses (54),"₹1,244",53% off
28,PIRASO,"Riding Glasses, UV Protection, Night Vision Sp...",₹244,84% off
29,SRPM,UV Protection Clubmaster Sunglasses (54),₹129,87% off
30,EYELLUSION,"UV Protection, Polarized Rectangular Sunglasse...",₹281,87% off
31,Prism,UV Protection Cat-eye Sunglasses (Free Size),₹329,89% off
32,Rich Club,UV Protection Shield Sunglasses (Free Size),₹258,63% off
33,LIZA ANGEL,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹129,74% off
34,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹257,83% off

In [92]:
page_2=driver4.find_element("xpath",'//a[@class="_1LKTO3"]')
page_2.click()

In [95]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand[:37]:
    brand_name.append(i.text)

product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product[:37]:
    product_desc.append(i.text)

price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price[:37]:
    product_price.append(i.text)
    
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off[:37]:
    Discount.append(i.text)

In [96]:
print(len(brand_name),len(product_desc),len(product_price),len(Discount))

37 37 37 37

In [98]:
product_2=pd.DataFrame({'Brand Name':brand_name[:37],'Product Description':product_desc[:37],'Price':product_price[:37],'Discount':Discount[:37]})

In [104]:
page_3=driver4.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [107]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand[:36]:
    brand_name.append(i.text)
    
product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product[:36]:
    product_desc.append(i.text)
    
price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price[:36]:
    product_price.append(i.text)
    
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off[:36]:
    Discount.append(i.text)
    
product_3=pd.DataFrame({'Brand Name':brand_name[:36],'Product Description':product_desc[:36],'Price':product_price[:36],'Discount':Discount[:36]})

In [108]:
print(len(brand_name),len(product_desc),len(product_price),len(Discount))

36 36 36 36

In [109]:
page_4=driver4.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [112]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand[:39]:
    brand_name.append(i.text)
    
product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product[:39]:
    product_desc.append(i.text)
    
price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price[:39]:
    product_price.append(i.text)
    
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off[:39]:
    Discount.append(i.text)
    
product_4=pd.DataFrame({'Brand Name':brand_name[:39],'Product Description':product_desc[:39],'Price':product_price[:39],'Discount':Discount[:39]})

In [113]:
print(len(brand_name),len(product_desc),len(product_price),len(Discount))

39 39 39 39

In [114]:
product=pd.concat([product_1,product_2,product_3], ignore_index=True)

In [115]:
print(len(product))

108

In [116]:
product[:100]

,Brand Name,Product Description,Price,Discount
0,CART2DEAL,UV Protection Retro Square Sunglasses (54),"₹1,244",53% off
1,IRUS,UV Protection Wayfarer Sunglasses (Free Size),₹637,14% off
2,Fastrack,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹599,40% off
3,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹149,75% off
4,Fastrack,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹499,37% off
...,...,...,...,...
95,Soul Hub,UV Protection Retro Square Sunglasses (Free Size),"₹1,215",55% off
96,NuVew,UV Protection Wayfarer Sunglasses (Free Size),₹108,87% off
97,New Specs,UV Protection Aviator Sunglasses (54),₹129,87% off
98,Fastrack,"UV Protection, Mirrored Wayfarer, Rectangular ...",₹519,35% off
99,CART2DEAL,"Gradient, UV Protection Wayfarer Sunglasses (F...","₹1,244",53% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART

# ..........please note due to time constraint I had to use example of Nokiac2

In [123]:
driver5=webdriver.Chrome('chromedriver.exe')
driver5.get('https://www.flipkart.com/')

In [124]:
driver5.maximize_window()

In [125]:
pop_close = driver5.find_element("xpath","/html/body/div[2]/div/div/button").click()

In [126]:
search_product2=driver5.find_element(By.CLASS_NAME,'_3704LK')
search_product2.send_keys("nokiaC2")

In [127]:
search_button5= driver5.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button5.click()

In [128]:
driver5.get('https://www.flipkart.com/nokia-c-30-green-32-gb/p/itm47608c0b7481f?pid=MOBG7R5FR29FFHYF&lid=LSTMOBG7R5FR29FFHYF0K3LZ2&marketplace=FLIPKART&q=nokiaC2&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=3c449f49-0ccd-46be-8243-ca7e17eea541.MOBG7R5FR29FFHYF.SEARCH&ppt=hp&ppn=homepage&ssid=ch4ma6204g0000001674409610854&qH=06cd677f807476e6')

In [129]:
All_reviews=driver5.find_element("xpath",'//div[@class="_3UAT2v _16PBlm"]').click()

In [133]:
rating_tag1=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating1=[]
for i in rating_tag1[:6]:
    rating1.append(i.text)

review_sum1=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review1=[]
for i in review_sum1[:6]:
    review1.append(i.text)

review_full1=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review1=[]
for i in review_full1[:6]:
    full_review1.append(i.text.replace('\n',' , '))

In [134]:
print(len(rating1),len(review1),len(full_review1))

6 6 6

In [135]:
Nokia_reviews1=pd.DataFrame({'Rating':rating1,'Review Summary':review1,'Full Review':full_review1})

In [140]:
Nokia_reviews1=pd.concat([Nokia_reviews1], ignore_index=True)
Nokia_reviews1[:6]

,Rating,Review Summary,Full Review
0,5,Brilliant,Buying a Nokia refreshed my memories of the go...
1,5,Just wow!,Good product
2,5,Did not meet expectations,Not that good
3,3,Just wow!,Good
4,5,Fair,Battery gets very heat fast
5,4,Best in the market!,Good

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [141]:
driver6=webdriver.Chrome('chromedriver.exe')
driver6.get('https://www.flipkart.com/')

In [142]:
driver6.maximize_window()

In [143]:
pop_close = driver6.find_element("xpath","/html/body/div[2]/div/div/button").click()

In [144]:
search_product6=driver6.find_element(By.CLASS_NAME,'_3704LK').send_keys("sneakers")

In [145]:
search_button6= driver6.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [146]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)

In [147]:
print(len(product_desc6),len(product_price6),len(Discount6),len(brand_name6))

39 40 40 40

In [148]:
sneaker1=pd.DataFrame({'Brand Name':brand_name6[:30],'Product Description':product_desc6[:30], 'Product Price':product_price6[:30],'Discount':Discount6[:30]})

In [149]:
page_2=driver6.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [150]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)
    
sneaker2=pd.DataFrame({'Brand Name':brand_name6[:30],'Product Description':product_desc6[:30], 'Product Price':product_price6[:30],'Discount':Discount6[:30]})

In [151]:
page_3=driver6.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [152]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)
    
sneaker3=pd.DataFrame({'Brand Name':brand_name6[:30],'Product Description':product_desc6[:30], 'Product Price':product_price6[:30],'Discount':Discount6[:30]})

In [153]:
page_4=driver6.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [154]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)
    
sneaker4=pd.DataFrame({'Brand Name':brand_name6[:10],'Product Description':product_desc6[:10], 'Product Price':product_price6[:10],'Discount':Discount6[:10]})

In [155]:
sneaker=pd.concat([sneaker1,sneaker2,sneaker3,sneaker4], ignore_index=True)
sneaker[:100]

,Brand Name,Product Description,Product Price,Discount
0,Bacan,Sneakers For Men,₹598,40% off
1,SFR,Casual Shoes For Men Sneakers For Men,₹399,58% off
2,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434,78% off
3,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹399,20% off
4,SFR,Sneakers For Men,₹399,44% off
...,...,...,...,...
95,U.S. POLO ASSN.,GAIMAN 2.O Sneakers For Men,"₹1,799",40% off
96,Layasa,Stylish Casual Sports Shoe Sneakers For Women,₹429,57% off
97,BRUTON,Combo Pack of 2 Casual Shoes Sneaker Shoes For...,₹604,78% off
98,HIGHLANDER,Sneakers For Men,₹539,55% off
99,bacca bucci,Comfy Mid-Top Casual Chunky Streetwear Fashion...,"₹1,599",54% off

## Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [162]:
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [163]:
url = 'https://www.amazon.in/'
driver.get(url)

In [164]:
search_product_name=driver.find_element(By.CLASS_NAME,'nav-input')
search_product_name.send_keys('Laptops')

In [165]:
Page=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Page.click()

In [167]:
filter1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[14]/span/a/div')
filter1.click()

In [168]:
title1=[]
#scrapting all the tags brand names
lap=driver.find_elements(By.CLASS_NAME,"a-size-mini")

#displaying 10 tags extracted above into text 
for i in lap:
    title1.append(i.text)
title1[0:10]

['ASUS Vivobook 14, Intel Core i7-1165G7 11th Gen, 14" (35.56 cm) FHD, Thin and Laptop (16GB/512GB SSD/Intel Iris Xe Graphics/Windows 11/Office 2021/FP Sensor/Silver/1.55 kg), X415EA-EK701WS',
 '₹56,990\n₹80,990',
 'Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm)Creator Laptop with OLED,UWVA,Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO,14-eh0024TU',
 'HP Victus Gaming Latest 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/BL KB/B&O/Alexa/Xbox Pass),15-fa0073TX',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) WQHD 165Hz/3ms, Intel Core i7-12650H 12th Gen, RTX 3070 8GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZR-HQ030WS',
 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keybaord/FPR/Black/1.59 kg), 21E3S05800',
 'Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 16"(40.64cm) WUXGA IPS 165Hz Gaming Laptop (16GB/512GB SSD/Win 11/Office 2021/NVIDIA RTX 3060 6GB/Alexa/3 Month Game Pass/Onyx Grey/2.6Kg),82SA00B2IN',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14" (35.56 cm) FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics/White/1.4 Kg) S433EA-AM702TS']

In [169]:
price_laptop=[]
#scrapting all the tags brand names
lap_price=driver.find_elements(By.CLASS_NAME,"a-price-whole")

#displaying 10 tags extracted above into text 
for i in lap_price:
    price_laptop.append(i.text)
price_laptop[0:10]

['56,990',
 '78,106',
 '94,630',
 '84,990',
 '79,990',
 '1,44,990',
 '1,02,490',
 '99,990',
 '65,990',
 '1,69,990']

In [170]:
import pandas as pd
df = pd.DataFrame({'Laptop name':title1[0:10],'Price':price_laptop[0:10]})
df

                                         Laptop name     Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    56,990
1                                   ₹56,990\n₹80,990    78,106
2  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    94,630
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    84,990
4  HP Victus Gaming Latest 12th Gen Intel Core i7...    79,990
5  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...  1,44,990
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,02,490
7  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    99,990
8  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...    65,990
9  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  1,69,990