# >>>>>>>>>>>>> WEB SCRAPING – ASSIGNMENT 4<<<<<<<<<<<<<<

### Parth Makwana

In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

**You need to find following details:**

- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [4]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Opening the homepage
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

In [5]:
#create empty lists
Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
    
#scrapping name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [6]:
print(len(Rank),len(Name),len(Artist),len(UploadDate),len(Views))

30 30 30 30 30

In [7]:
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [13]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.27
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.08
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.61
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.01
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.91
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.78
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.15
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.92
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.83
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.81
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.69
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.23
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.75
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.72
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.49
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.47
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.40
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.33
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.30
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.30

### 2. Scrape the details team India’s internationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.

**You need to find following details:**

- A) Match title (I.e. 1stODI)
- B) Series
- C) Place
- D) Date
- E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [14]:
# Opening the homepage
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

In [15]:
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [16]:
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')
    
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [17]:
Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,ICC WOMENS T20 WORLD CUP 2023,1st T20I,"Newlands,",12 FEB 2023,6:30 PM
1,ICC WOMENS T20 WORLD CUP 2023,2nd T20I,"Newlands,",15 FEB 2023,6:30 PM
2,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,2nd Test,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM
3,ICC WOMENS T20 WORLD CUP 2023,3rd T20I,"St George's Park,",18 FEB 2023,6:30 PM
4,ICC WOMENS T20 WORLD CUP 2023,4th T20I,"St George's Park,",20 FEB 2023,6:30 PM
5,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,3rd Test,"Himachal Pradesh Cricket Association Stadium,",1 MAR 2023,9:30 AM
6,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,4th Test,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM
7,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,"Wankhede Stadium,",17 MAR 2023,1:30 PM

### 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 

Url = http://statisticstimes.com/

**You have to find following details:**

- A) Rank
- B) State
- C) GSDP(18-19)- at current prices
- D) GSDP(19-20)- at current prices
- E) Share(18-19)
- F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [34]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [35]:
url = "http://statisticstimes.com/"
driver.get(url)

In [36]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [37]:
#Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [38]:
#Clicking on India
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [40]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [41]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [42]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

### 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/

**You have to find the following details:**

- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [53]:
url=(" https://github.com/")
driver.get(url)
time.sleep(2)

In [57]:
explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span/div[2]")
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [66]:
opensource = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [67]:
# Click on Trending

trending = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [68]:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [69]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [70]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
# Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
# Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
# Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [71]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [72]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,acikkaynak / deprem-yardim-backend-go,-,16,"[Go, Other]"
1,cloudflare / wildebeest,Wildebeest is an ActivityPub and Mastodon-comp...,12,"[TypeScript, JavaScript, Other]"
2,jaymody / picoGPT,An unnecessarily tiny and minimal implementati...,-,[Python]
3,eliaszon / Programmers-Overseas-Job-Interview-...,🏂🏻 程序员海外工作/英文面试手册,-,[]
4,uutils / coreutils,Cross-platform Rust rewrite of the GNU coreutils,351,"[Rust, Other]"
5,rustdesk / rustdesk,Open source virtual / remote desktop infrastru...,156,"[Rust, Dart, C, C++, Kotlin, Python, Other]"
6,MichalGeyer / plug-and-play,Official Pytorch Implementation for “Plug-and-...,2,[Python]
7,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,84,"[JavaScript, Shell]"
8,djun / wechatbot,为个人微信接入ChatGPT,-,[Go]
9,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,25,"[TypeScript, Dockerfile, Shell]"
10,TheD1rkMtr / FilelessPELoader,"Loading Remote AES Encrypted PE in memory , De...",-,"[C++, Python]"
11,eryajf / chatgpt-dingtalk,ChatGPT机器人在钉钉群聊中交互,-,"[Go, Dockerfile, Makefile]"
12,aquasecurity / trivy,"Find vulnerabilities, misconfigurations, secre...",279,"[Go, Smarty, Shell, Open Policy Agent, Makefil..."
13,ethereum-optimism / op-analytics,"On-Chain Data, Utilities, References, and othe...",-,[]
14,nerfstudio-project / nerfstudio,A collaboration friendly studio for NeRFs,75,"[Python, JavaScript, Cuda, Shell, SCSS, TypeSc..."
15,AIGCT / EASYChatGPT,"This is an application project of 'chatgpt',on...",-,[Python]
16,leminlimez / Cowabunga,iOS 14.0-15.7.1 & 16.0-16.1.2 MacDirtyCow ToolBox,6,"[Swift, Objective-C, C, Shell]"
17,PlexPt / chatgpt-java,ChatGPT Java SDK. Lightweight package for inte...,-,[Java]
18,Shopify / hydrogen,Hydrogen is Shopify’s stack for headless comme...,20,"[TypeScript, JavaScript, CSS, Shell]"
19,Fndroid / clash_for_windows_pkg,A Windows/macOS GUI based on Clash,3,[]
20,f / awesome-chatgpt-prompts,This repo includes ChatGPT prompt curation to ...,59,[HTML]
21,enhuiz / vall-e,An unofficial PyTorch implementation of the au...,-,"[Python, Shell]"
22,zhayujie / chatgpt-on-wechat,使用ChatGPT搭建微信聊天机器人，基于OpenAI API和itchat实现。Wecha...,7,[Python]
23,Leizhenpeng / feishu-chatGpt,Feishu ChatGpt 在飞书上与ChatGPT随时对话~,3,"[Go, Dockerfile]"
24,activepieces / activepieces,No-code Business Automation Tool. An open sour...,18,"[TypeScript, HTML, SCSS, JavaScript, Dockerfil..."

### 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/

**You have to find the following details:**
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [85]:
driver=webdriver.Chrome('chromedriver.exe')
url=("https://www.billboard.com")
driver.get(url)
time.sleep(2)

In [89]:
menu = driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a").click()

In [90]:
menu = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a").click()

In [92]:
Name=[]
Artist=[]
rank=[]

#Scraping name
Name_tag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)

#Scraping rank
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text )

In [93]:
#Scraping name
Rank=[]
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )

#Scraping rank
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)

In [94]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [95]:
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

In [96]:
#check length of all
len(Name),len(Artist),len(last_week_rank),len(peak_rank),len(weeks_on_board)

(100, 100, 133, 133, 133)

In [97]:
songs_top=pd.DataFrame({"Name":Name[:100],"Artist":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
songs_top

,Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,Flowers,Miley Cyrus,1,1,3
1,Kill Bill,SZA,2,2,8
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,Anti-Hero,Taylor Swift,3,1,15
4,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...
95,Hey Mor,Ozuna Featuring Feid,81,81,2
96,Gato de Noche,Nengo Flow & Bad Bunny,,,
97,Heart To Heart,Mac DeMarco,75,68,7
98,Never Gonna Not Dance Again,P!nk,,,
99,Dancin' In The Country,Tyler Hubbard,71,22,9

### 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

**You have to find the following details:**

- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [99]:
url=("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.get(url)
time.sleep(2)

In [103]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [104]:
print(len(Bookname),len(Authorname),len(Volumessold),len(Publisher),len(Genre))

100 100 100 100 100

In [105]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/

**You have to find the following details:**

- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [106]:
# Getting the webpage of mentioned url 
url = " https://www.imdb.com/list/ls095964455/ "
driver.get(url)

In [107]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [108]:
print(len(Name),len(Year_span),len(Run_time),len(Ratings),len(Genre),len(Votes))

100 100 100 100 100 100

In [109]:
series=pd.DataFrame({})
series['Name'] = Name
series['Year Span'] = Year_span
series['Genre'] = Genre
series['Run Time'] = Run_time
series['Ratings'] = Ratings
series['Votes'] = Votes
series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,123,265"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,211,191"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,007,067"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"297,137"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"256,063"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,733"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,619"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,955"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,044"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,781"

### 8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/

**You have to find the following details:**

- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [117]:
# Getting the webpage of mentioned url
driver=webdriver.Chrome('chromedriver.exe')
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [122]:
Dataset= driver.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver.get(Dataset)

In [123]:
# Scraping dataset
data=[]
try:
    data_tag=driver.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')

In [124]:
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

In [125]:
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(instances), len(attribute), len(Year))

622 622 622 622 622 622 622

In [126]:
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021